#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: white;
}

.park_space {
  height: 5rem;
  width: 3.25rem;
}

.car_size {
  height: 4rem;
  width: 2.5rem;
}
